
@model Madetomeasure.Models.Admin.addnewstdphead
@using Madetomeasure.Models.Admin
@using Madetomeasure.Data
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@if (TempData["Message"] != null)
{
    @if ((string)TempData["Message"] == "nobusiness")
    {
        TempData["Message"] = " ";
        <script>
        alert('Please select BusinessEntity');
        </script>


    }
    @if ((string)TempData["Message"] == "nodp")
    {
        TempData["Message"] = " ";
        <script>
        alert('Please select Department');
        </script>


    }

}
@{
    ViewBag.Title = "Select Business Entity";
}


<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-files-o"></i> Add Employee</h3>

            </div>
        </div>
        <!-- Form validations -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Add New Stitchingunit dp. Head
                    </header>
                    <div class="panel-body">
                        <div class="form">

                            <form class="form-validate form-horizontal" id="feedback_form" method="get" asp-controller="Admin" asp-action="addsthead">



                                <div class="form-group">

                                    <label asp-for="Department" class="control-label col-lg-2">Department<span style="color:red">*</span></label>
                                    <div class="col-lg-10">
                                        <select asp-for="Department" id="designation" class="form-control text">



                                            <option value="Cutting" class="text">Cutting</option>
                                            <option value="Embroidery" class="text">Embroidery</option>

                                            <option value="Stitching" class="text">Stitching</option>
                                            <option value="QualityAssurance" class="text">Quality Assurance</option>
                                            <option value="Packing" class="text">Packing</option>

                                        </select>

                                        <span asp-validation-for="Department" id="designationcheck" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <label asp-for="StitchingunitId" class="control-label col-lg-2">Stitchingunit Address<span style="color:red">*</span></label>
                                    <div class="col-lg-10">
                                        <select asp-for="StitchingunitId" id="StitchingunitId" class="form-control text">
                                            <option value=0>Select Option</option>

                                            @if (ViewData["stunitid"] != null)
                                            {

                                                @foreach (var cat in (IEnumerable<BusinessEntity>)ViewData["stunitid"])
                                                {

                                                    <option value="@cat.EntityCode"> @cat.EntityAddress</option>

                                                }
                                            }





                                        </select>

                                        <span asp-validation-for="StitchingunitId" id="StitchingunitId" class="text-danger"></span>
                                    </div>
                                </div>







                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <br />
                                        <br />
                                        <button class="btn btn-primary" type="submit">Add</button>
                                        <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("Index","Admin")'">Cancel</button>
                                    </div>
                                </div>
                            </form>
                            <br />
                            <br />
                        </div>

                    </div>
                </section>
            </div>
        </div>
        <div class="row">

        </div>
        <!-- page end-->
    </section>
</section>
<!--main content start-->
@section Scripts {

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}