@using Microsoft.AspNetCore.Http;


@{ 

    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_WarehouseLayout.cshtml";


}

<section id="container" class="" style="background-image:url('../../wwwroot/images/back3.jpg');">
   
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
          
            <br />
            <br />

            <div class="row">
                <!-- profile-widget -->
                <div class="col-lg-3">

                    </div>
                    <div class="col-lg-6">
                        <div class="profile-widget profile-widget-info">
                            <div class="panel-body">
                                <div class="col-lg-1">
                                </div>

                                <div class="col-lg-10">
                                    <h4><b>Name:</b>&nbsp;&nbsp;&nbsp;&nbsp;@Context.Session.GetString("Name")</h4>
                                    <br />
                                    <h4><b>Role:</b>&nbsp;&nbsp;&nbsp;&nbsp;@Context.Session.GetString("UserType")</h4>
                                    <br />

                                    <h4><b>Joining Date:</b>&nbsp;&nbsp;&nbsp;&nbsp;@Context.Session.GetString("JoiningDate")</h4>
                                    <br />

                                      <h4><b>Works At:</b>&nbsp;&nbsp;&nbsp;&nbsp; Warehouse#@Context.Session.GetString("WorksAt")</h4>
                                    <br />

                                </div>

                                <div class="col-lg-1">
                                </div>

                            </div>
                        </div>
                    </div>
                <div class="col-lg-3">

                </div>  
            
              </div>
            
        </section>
    </section>
    <!--main content end-->
</section>
